{% extends "_layout.html" %}
{% block head_additions %}
    <style>
      ol.thumbnails li {
        {%- set image_border_width = 2 %}
        height: {{ gallery.max_thumbnail_size.height + (image_border_width * 2) }}px;
        width: {{ gallery.max_thumbnail_size.width + (image_border_width * 2) }}px;
      }
      ol.thumbnails li img {
        max-height: {{ gallery.max_thumbnail_size.height }}px;
        max-width: {{ gallery.max_thumbnail_size.width }}px;
      }
    </style>
{%- endblock head_additions %}
{% set gallery_title = gallery.title %}
{% set gallery_lightbox = gallery.lightbox %}
{% block body %}

    {%- if gallery.title is not none %}
    <header>
      <h1>{{ gallery.title }}</h1>
    </header>
    {%- endif %}

    <nav>
      <ol>
        <li>&larr; <a href="javascript:history.back()">Back</a></li>
        {%- if gallery_lightbox %}
        <li>&harr; <a href="./index_bare.html">Disable Effects?</a> </li>
        {%- endif %}
        <li>{{ gallery.images|length }} images</li>
      </ol>
    </nav>

    <!-- <p>{{ gallery.images|length }} images</p> -->
    <ol class="thumbnails">
    {%- for image in gallery.images %}
      <li>
        <figure>
          {%- if gallery_lightbox %}
          <a href="{{ image.filename }}" rel="lightbox"><img src="{{ image.thumbnail_filename }}"/></a>
          {%- else %}
          <a href="{{ url_for_page(image.page_name) }}"><img src="{{ image.thumbnail_filename }}"/></a>
          {%- endif %}
        </figure>
      </li>
    {%- endfor %}
    </ol>

{%- endblock body %}
